<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Set-Cookie" content="%COOKIE_NAME%=clear; expires=Thu, 01-Jan-1970 00:00:00 GMT;" />
<title>%COPYRIGHT1%</title>
<link href="%IMAGE_URL%/default.css" type="text/css" rel="stylesheet" />
</head>
<body>
<h1>%COPYRIGHT2%</h1>
<p>すでにログオフしたか、もしくはセッションタイプアウトしました。再度ログオンしなおしてください。: %error%</p>
<hr />
<div>［<a href="%CGI_URL%">ログオン画面へ</a>］</div>
</body>
</html>