<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="robots" content="noindex" />
<title>%COPYRIGHT1%</title>
<link href="%IMAGE_URL%/default.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="%IMAGE_URL%/dom.js"></script>
<script type="text/javascript" src="%IMAGE_URL%/form.js"></script>
</head>
<body>
<h1>%COPYRIGHT2%</h1>
<TMPL_IF NAME="err"><div class="err">%err%</div></TMPL_IF>
<form action="%CGI_URL%" method="post">
	<input type="hidden" name="action" value="logon" />
	<table>
		<tr>
			<th>パスワード</th>
			<td><input type="password" name="PASS" size="24" /></td>
			<td><input type="submit" name="b1" value="ログオン" /></td>
		</tr>
	</table>
</form>
<hr />
<div>%COPYRIGHT3%</div>
</body>
</html>